_*.txt
discord_names.json
test*
users.json
apps.json
data/*

logs/
.venv
.basedpyright/
__p*
dev_apps
opt/

.env*

# testing
_bridge2.py
.gitignore
_ts_bridge.py
se_ticks
wagons.json
online_watch.json
voices/*
.cod*
todo.txt
configuration.json
enabled_apps.txt
voice_users.json


remote_nodes.json
.cache/authority/bot_registry.json
voice_target_labels.json
resources/icon/*
resources/minecraft_default_skins/*
.cache/*
.yukibot/map_cache.json
tmp*
restart_type_sentinel.json
.yukibot/map_cache.json
apps/*/instances.json
moddb;*.jsonl
