DISCORD_GUILD = 
DISCORD_DEV_GUILD = 
STARTED_CHANNEL = 
GAME_CHAT_CHANNEL = 
SEVENDAYS_CHAT_CHANNEL = 

DIR_APP = 
DIR_TMP = 
DIR_OPT = 

BOT_TOKEN = 
EXG_TOKEN = 

APP_COMM_PASS = 

# This file must be named ".env"