aiofiles
aiohttp
factorio-rcon-py
hikari-wave>=0.7.0a1
hikari-lightbulb~=3.2.2
hikari[speedups]~=2.5.0
psutil
pydantic
python-dateutil
python-dotenv
requests
tenorgrabber
uvloop
anyio
emoji
tomli_w
aioftp
regex
piper-tts
pathvalidate
modmux
